<div style="background-color: #AFAFAF; padding: 10px;">
    <div>Hello <b>{{ app.user.Username }}</b>!</div>
    <ul>
        <li><a href="/post/new">Add Post</a></li>
        <li><a href="/posts">My Page</a></li>
        <li><a href="/">Blogs</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
